<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iss.workshop.inventory_management_system_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.dashboard.DepHeadDashboardActivity"></activity>
        <activity android:name=".activities.department.DepHeadApproveDisbursementActivity" />
        <activity android:name=".activities.disbursement.DisbursementAssignment" />
        <activity android:name=".activities.disbursement.DisbursementSummaryStatusSelectionActivity" />
        <activity android:name=".activities.dashboard.StoreClerkDashboard" />
        <activity android:name=".activities.disbursement.DibursementHandOverActivity" />
        <activity android:name=".activities.disbursement.DisbursementFormDetailsActivity" />
        <activity android:name=".activities.disbursement.DisbursementSummaryActivity" />
        <activity android:name=".activities.disbursement.DisbursementFormActivity" />
        <activity android:name=".activities.department.EmployeeDisbursementSummarySelectionActivity" /> <!-- <activity android:name=".activities.department.EmployeeRequisitionSummarySelectionActivity" /> -->
        <!-- Requisition Activities -->
        <!-- by htp -->
        <activity android:name=".activities.requisition.ApplyRequistionActivity" />
        <activity android:name=".activities.requisition.RequisitionLandingActivity" />
        <activity android:name=".activities.requisition.RequisitionSummaryActivity" />
        <activity
            android:name=".activities.requisition.RequisitionFormActivity"
            android:windowSoftInputMode="adjustPan" /> <!-- END Requisition Activities -->
        <activity android:name=".activities.BaseActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.DashboardActivity" />
        <activity android:name=".activities.LoginActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
    </application>

</manifest>